#!/usr/bin/env python
PACKAGE = "stack_master"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("v_max",           double_t, 0, "Maximum velocity [m/s]",              12.0, 0.5, 20.0)
gen.add("ax_max_motor",    double_t, 0, "Max motor acceleration [m/s2]",       5.0,  0.5, 15.0)
gen.add("ax_max_brake",    double_t, 0, "Max brake deceleration [m/s2]",       7.0,  0.5, 15.0)
gen.add("dyn_model_exp",   double_t, 0, "Kamm circle exponent",               1.0,  0.5, 3.0)
gen.add("a_y_max",         double_t, 0, "Max lateral acceleration [m/s2]",     4.5,  0.5, 15.0)
gen.add("a_x_max",         double_t, 0, "Max longitudinal acceleration [m/s2]",5.0,  0.5, 15.0)
gen.add("grip_scale_exp",  double_t, 0, "Grip scale exponent (g_tilde, 0=disable)", 0.7, 0.0, 2.0)
gen.add("slope_correction",double_t, 0, "Slope gravity correction (1.0=physics, higher=more conservative)", 1.0, 0.0, 5.0)
gen.add("slope_brake_margin", double_t, 0, "Pre-slope braking distance [m] (0=disable)", 0.0, 0.0, 10.0)
gen.add("slope_brake_vmax",   double_t, 0, "Pre-slope Vmax limit [m/s]",       5.0, 0.5, 15.0)
### HJ : SG-based mu/dmu_ds smoothing toggle (passed to vel_planner_25d)
gen.add("smooth_mu",          bool_t,   0, "SG-filter mu/dmu_ds inside vel_planner_25d (kills PCD noise)", True)
gen.add("mu_smooth_window",   int_t,    0, "SG window length [pts, odd]",      21, 5, 101)
gen.add("mu_smooth_polyorder",int_t,    0, "SG polynomial order",              3,  1, 5)
### HJ : SG-based kappa smoothing for vel_profile only (path is preserved)
gen.add("smooth_kappa",          bool_t,0, "SG-filter kappa just for v calc (path kappa_radpm preserved)", True)
gen.add("kappa_smooth_window",   int_t, 0, "SG window length for kappa [pts, odd]", 21, 5, 101)
gen.add("kappa_smooth_polyorder",int_t, 0, "SG polynomial order for kappa",         3,  1, 5)
gen.add("save_config",     bool_t,   0, "Save current config to yaml",         False)
gen.add("save_csv",        bool_t,   0, "Save ggv/ax_max to CSV files",        False)
gen.add("load_yaml",       bool_t,   0, "Reload params from yaml",            False)

exit(gen.generate(PACKAGE, "global_velocity_planner_3d", "VelPlanner3D"))
